
@{
    ViewData["Title"] = "AddNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddNote</h2>

<form asp-controller="Board" asp-action="AddNote" method="post">
    <input type="hidden" name="BoardId" value="@ViewBag.BoardId" />
    <div>
        <textarea name="Text"></textarea>
    </div>
    
    <input type="number" name="Severity" />
    <button type="submit">Save</button>
</form>